name: SonarQube
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'

      - name: Clean Corrupted Cache
        run: rm -rf ~/.m2/repository/io/jenkins/tools/incrementals

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_VCATEST }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          mvn -B -U 
          -gs jenkins-settings.xml 
          verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -DskipTests
          -Dspotbugs.skip=true
          -Dmaven.wagon.http.retryHandler.count=5
          -Dsonar.projectKey=vcatest_jenkins
          -Dsonar.organization=vcatest
          -Dsonar.host.url=https://sonarcloud.io
