name: SonarQube
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'

      # STEP 1: Download official Jenkins settings to resolve extension & plugin issues
      - name: Download Jenkins Settings
        run: curl -sLo jenkins-settings.xml https://raw.githubusercontent.com/jenkins-infra/jenkins-maven-settings/main/settings.xml

      # STEP 2: Build and analyze using the downloaded settings
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_VCATEST }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          mvn -B -s jenkins-settings.xml verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -DskipTests
          -Dspotbugs.skip=true
          -Dmaven.wagon.http.retryHandler.count=5
          -Dsonar.projectKey=vcatest_jenkins
          -Dsonar.organization=vcatest
          -Dsonar.host.url=https://sonarcloud.io
